@import "../../themes/anywhere.globals.scss";

:host {
  display: inline-block;

  .any-badge {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
  }

  .any-overlay-badge {
    position: relative;
  }

  .any-overlay-badge .any-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0;
    margin: 0;
  }

  .any-badge-dot {
    width: .5rem;
    min-width: .5rem !important;
    height: .5rem !important;
    border-radius: 50%;
    padding: 0;
  }

  .any-badge-no-gutter {
    padding: 0;
    border-radius: 50%;
  }

  .any-badge {
    background: var(--badgeBg);
    color: var(--badgeTextColor);
    font-size: var(--badgeFontSize);
    font-weight: var(--badgeFontWeight);
    min-width: var(--badgeMinWidth);
    height: var(--badgeHeight);
    line-height: var(--badgeHeight);
  }

  .any-badge.any-badge-secondary {
    background-color: var(--secondaryButtonBg) !important;
    color: var(--badgeTextColor) !important;
  }

  .any-badge.any-badge-success {
    background-color: var(--successButtonBg) !important;
    color: var(--badgeTextColor) !important;
  }

  .any-badge.any-badge-info {
    background-color: var(--infoButtonBg) !important;
    color: var(--badgeTextColor) !important;
  }

  .any-badge.any-badge-warning {
    background-color: var(--warningButtonBg) !important;
    color: var(--textColor) !important;
  }

  .any-badge.any-badge-danger {
    background-color: var(--dangerButtonBg) !important;
    color: var(--badgeTextColor) !important;
  }

  .any-badge.any-badge-lg {
    font-size: 1.125rem;
    min-width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
  }

  .any-badge.any-badge-xl {
    font-size: 1.5rem;
    min-width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }

}