.layout-topbar {
    // background-color: var(--surface-a);
    /* background-color: var(--primaryColor); */
    height: 70px;
    box-shadow: 0 0 4px rgba(0 0 0/25%);
    border-bottom: 1px solid var(--surface-d);
    display: flex;
    align-items: center;
    padding: 0 35px;
    margin-left: 250px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 997;
    // background-color: var(--surface-b);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .menu-button {
        display: none;
        color: var(--text-color);
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        svg * {
            transition: fill 0.2s;
        }
        &:hover {
            svg * {
                fill: var(--primary-color);
            }
            // background-color: var(--surface-c);
            // border: 1px solid var(--primary-color);
        }

        svg {
            font-size: 24px;
            line-height: inherit;
        }
    }

    .app-theme {
        background-color: var(--primary-color);
        color: var(--primary-color-text);
        padding: 0.5rem;
        border-radius: 4px;
        box-shadow:
            0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12);
        max-width: 39px;
        max-height: 39px;
        display: flex;
        align-items: center;

        img {
            width: 25px;
        }
    }

    .topbar-menu {
        list-style-type: none;
        padding: 0;
        height: 100%;
        margin: 0 0 0 auto;
        display: flex;

        > li {
            height: 70px;
            line-height: 70px;

            > a {
                text-decoration: none;
                color: var(--text-color);
                min-width: 120px;
                font-size: 16px;
                display: block;
                text-align: center;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                line-height: 68px;
                border-bottom: 2px solid transparent;
                transition: border-bottom-color 0.2s;
                cursor: pointer;

                &:focus,
                &:hover {
                    border-bottom-color: var(--primary-color);
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow 0.2s;
                    box-shadow: inset 0 0 0 0.2em var(--focusOutlineColor);
                }
            }
        }
    }
}
