@import "../../themes/anywhere.globals.scss";

:host {
    display: block;

    .any-listbox-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .any-listbox-item {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    // .any-widget {
    .any-listbox {
        display: block;
        // min-width: 100%;
        padding: 0;
        border: var(--inputListBorder);
        background-color: var(--inputListBg);

        .any-listbox-list-wrapper {
            overflow: auto;

            .any-listbox-list {
                padding: var(--inputListPadding);

                .any-listbox-item {
                    margin: var(--inputListItemMargin);
                    padding: var(--inputListItemPadding);
                    border: var(--inputListItemBorder);
                    color: var(---inputListItemTextColor);
                    transition: box-shadow 0.15s;
                    border-radius: 0;
                    font-weight: var(--fontWeight);

                    &:not(.any-highlight):not(.any-disabled):focus {
                        outline: 0;
                        outline-offset: 0;
                        box-shadow: var(--inputListItemFocusShadow);
                    }

                    &:not(.any-highlight):not(.any-disabled):hover {
                        color: var(--inputListItemHoverTextColor);
                        background: var(--inputListItemHoverBgColor);
                    }

                    &.any-highlight {
                        color: var(--inputListItemHighlightTextColor);
                        background: var(--inputListItemHighlightBgColor);
                    }
                }
            }
        }


    }

    // }
}