:root {
  --linkColor: #2196f3;
  --focusBorderColor: var(--primaryColor);
}

html {
  visibility: hidden;
  height: 100%;
  color: var(--text-color);
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:active {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900);
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
/* Define CSS variables for both light and dark theme colors */
:root {
  --light-background-color: rgba(255, 255, 255, 0.6);
  --dark-background-color: rgba(0, 0, 0, 0.4);
}

/* Apply default background color (light) */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: var(--dark-background-color);
}

/* Styles for the rotating spinner icon */
.loader .iconify {
  animation: rotate 2s linear infinite;
  font-size: 3rem; /* Adjust the size as needed */
  color: var(--primaryColor); /* Change to your desired color */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  position: relative;
  margin: 0.5em 0;
  overflow: visible;
  padding: 1px;
}

pre[class*=language-] > code {
  position: relative;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

code[class*=language-] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*=language-]:before,
pre[class*=language-]:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

pre[class*=language-]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  pre[class*=language-]:before,
  pre[class*=language-]:after {
    bottom: 14px;
    box-shadow: none;
  }
}
/* Plugin styles: Line Numbers */
pre[class*=language-].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*=language-].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*=language-].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*=language-][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre[data-line] code {
  position: relative;
  padding-left: 4em;
}

pre .line-highlight {
  margin-top: 0;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
  color: inherit;
  text-decoration: none;
}

.layout-wrapper-dark pre[class*=language-] code .token.tag {
  color: var(--text-color) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.keyword {
  color: rgb(244, 112, 103) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.property {
  color: rgb(150, 208, 255) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.attr-name, .layout-wrapper-dark pre[class*=language-] code .token.attr-string {
  color: rgb(108, 182, 255) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.string {
  color: var(--text-color) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.attr-value {
  color: var(--text-color) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.attr-value .punctuation {
  color: rgb(108, 182, 255) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.punctuation {
  color: var(--text-color) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.operator, .layout-wrapper-dark pre[class*=language-] code .token.string {
  background: transparent;
}
.layout-wrapper-dark pre[class*=language-] code .token.function {
  color: rgb(220, 189, 251) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.class-name {
  color: rgb(141, 219, 140) !important;
}
.layout-wrapper-dark pre[class*=language-] code .token.operator {
  color: rgb(150, 208, 255) !important;
}

.layout-wrapper-light pre[class*=language-] code .token.tag {
  color: rgb(10, 48, 105) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.keyword {
  color: rgb(207, 34, 46) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.property {
  color: rgb(5, 80, 174) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.attr-name, .layout-wrapper-light pre[class*=language-] code .token.attr-string {
  color: rgb(5, 80, 174) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.string {
  color: rgb(10, 48, 105) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.attr-value {
  color: rgb(10, 48, 105) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.attr-value .punctuation {
  color: rgb(10, 48, 105) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.punctuation {
  color: rgb(5, 80, 174) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.operator, .layout-wrapper-light pre[class*=language-] code .token.string {
  background: transparent;
}
.layout-wrapper-light pre[class*=language-] code .token.function {
  color: rgb(130, 80, 223) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.class-name {
  color: rgb(17, 99, 41) !important;
}
.layout-wrapper-light pre[class*=language-] code .token.operator {
  color: rgb(5, 80, 174) !important;
}

pre[class*=language-] {
  position: relative;
  background: transparent !important;
}
pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 1rem solid transparent !important;
  box-shadow: none !important;
  background: var(--surface-card) !important;
  margin: 0;
  color: var(--surface-900);
  font-size: 14px;
  border-radius: 10px;
  z-index: unset;
}

.copy-to-clipboard-button {
  display: none;
}

.layout-wrapper {
  width: 100%;
  float: none;
  position: absolute;
  box-shadow: none;
  overflow: visible;
  min-height: 100%;
  background-color: var(--surface-b);
}

.layout-content {
  margin-left: 250px;
  height: 100%;
  padding-bottom: 80px;
}
.layout-content .layout-content-inner {
  padding: 2rem 4rem;
}
.layout-content .content-section {
  padding: 2rem;
}
.layout-content .content-section.introduction {
  background-color: var(--surface-b);
  color: var(--text-color);
  padding-bottom: 0;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.layout-content .content-section.introduction .feature-intro h1 span {
  font-weight: 400;
  color: var(--text-color-secondary);
}
.layout-content .content-section.introduction .feature-intro p {
  margin: 0;
}
.layout-content .content-section.introduction .feature-intro a {
  text-decoration: none;
  color: var(--linkColor);
  font-weight: 600;
}
.layout-content .content-section.introduction .feature-intro a:hover {
  text-decoration: underline;
}
.layout-content .content-section.introduction app-demoActions {
  display: flex;
  justify-content: flex-end;
}
.layout-content .content-section.introduction app-demoActions .any-button-icon-only {
  padding: 0.5rem 0;
}
.layout-content .content-section.introduction app-demoActions a:hover {
  border-radius: 50%;
  height: 2.357 rem;
}
.layout-content .content-section.introduction app-demoActions a:hover svg * {
  fill: var(--primary-color);
}
.layout-content .content-section.introduction .app-inputstyleswitch {
  margin-left: 2rem;
}
.layout-content .content-section.implementation {
  background-color: var(--surface-b);
  color: var(--text-color);
}
.layout-content .content-section.implementation + .documentation {
  padding-top: 0;
}
.layout-content .content-section.documentation {
  background-color: var(--surface-b);
  color: var(--text-color);
}
.layout-content .content-section.documentation li {
  line-height: 1.5;
}
.layout-content .content-section.documentation a {
  text-decoration: none;
  font-weight: 600;
}
.layout-content .content-section.documentation a:hover {
  text-decoration: underline;
}
.layout-content .content-section.documentation .doc-tablewrapper {
  margin: 1rem 0;
  overflow: auto;
}
.layout-content .content-section .doc-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--surface-a);
}
.layout-content .content-section .doc-table th {
  border-bottom: 1px solid var(--surface-d);
  padding: 1rem;
  text-align: left;
}
.layout-content .content-section .doc-table tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--surface-d);
}
.layout-content .content-section .doc-table tbody td:first-child {
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: var(--text-color-secondary);
}
.layout-content .content-section .doc-table.browsers td:first-child {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
}

.layout-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--surface-a);
  width: 250px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  flex-direction: column;
}
.layout-sidebar a.logo {
  min-height: 70px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--surface-d);
  /* border-right: 1px solid var(--primaryDarkerColor); */
  z-index: 1;
  /* background-color: var(--primaryDarkerColor); */
  /* margin-right: -1px; */
  font-size: 30px;
  font-weight: 700;
}
.layout-sidebar a.logo span {
  color: var(--primaryColor);
  font-size: 38px;
}
.layout-sidebar a.logo:hover {
  color: var(--primaryColor);
}
.layout-sidebar a.logo:hover span {
  color: var(--text-color);
}
.layout-sidebar .layout-menu {
  padding: 0 1rem;
  overflow-y: auto;
  flex-grow: 1;
  border-right: 1px solid var(--surface-d);
}
.layout-sidebar .layout-menu .menu-category {
  display: block;
  color: var(--text-color-secondary);
  font-weight: 600;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1.5rem 0 1rem;
  font-size: 0.857rem;
  text-transform: uppercase;
  border-top: 1px solid var(--surface-d);
}
.layout-sidebar .layout-menu .menu-category:first-child {
  border-top: 0;
  padding-top: 1rem;
}
.layout-sidebar .layout-menu .menu-items {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
}
.layout-sidebar .layout-menu .menu-items a {
  color: var(--text-color);
  display: block;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.layout-sidebar .layout-menu .menu-items a:hover {
  background-color: var(--surface-c);
}
.layout-sidebar .layout-menu .menu-items a.active {
  font-weight: 700;
  color: var(--primaryColor) !important;
}
.layout-sidebar .layout-menu .menu-items a:focus {
  z-index: 1;
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: var(--focusShadow);
}

.layout-sidebar,
.layout-sidebar .logo {
  border-right: 1px solid var(--surface-d);
  display: flex;
}

.layout-topbar {
  /* background-color: var(--primaryColor); */
  height: 70px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--surface-d);
  display: flex;
  align-items: center;
  padding: 0 35px;
  margin-left: 250px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.layout-topbar .menu-button {
  display: none;
  color: var(--text-color);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
.layout-topbar .menu-button svg * {
  transition: fill 0.2s;
}
.layout-topbar .menu-button:hover svg * {
  fill: var(--primary-color);
}
.layout-topbar .menu-button svg {
  font-size: 24px;
  line-height: inherit;
}
.layout-topbar .app-theme {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  max-width: 39px;
  max-height: 39px;
  display: flex;
  align-items: center;
}
.layout-topbar .app-theme img {
  width: 25px;
}
.layout-topbar .topbar-menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0 0 0 auto;
  display: flex;
}
.layout-topbar .topbar-menu > li {
  height: 70px;
  line-height: 70px;
}
.layout-topbar .topbar-menu > li > a {
  text-decoration: none;
  color: var(--text-color);
  min-width: 120px;
  font-size: 16px;
  display: block;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 68px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
  cursor: pointer;
}
.layout-topbar .topbar-menu > li > a:focus, .layout-topbar .topbar-menu > li > a:hover {
  border-bottom-color: var(--primary-color);
}
.layout-topbar .topbar-menu > li > a:focus {
  z-index: 1;
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 0 0 0.2em var(--focusOutlineColor);
}

.layout-footer {
  padding: 2rem;
  font-size: 1rem;
  background-color: var(--surface-a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: calc(100% - 250px);
  left: 250px;
}

.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}
.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}
.product-badge.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}

.any-field-checkbox,
.any-field-radiobutton {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.full-card {
  background: var(--surface-e);
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.any-ai-center {
  align-items: center;
}

.any-jc-between {
  justify-content: space-between;
}

.any-d-flex {
  display: flex !important;
}

.any-mr-2 {
  margin-right: 0.5rem !important;
}

.any-ai-end {
  align-items: flex-end;
}

.any-jc-end {
  justify-content: flex-end;
}

.any-spin-right {
  animation: fa-spin-right 0.7s infinite linear;
}

.any-spin-left {
  animation: fa-spin-left 0.7s infinite linear;
}

.any-link {
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.any-field-radiobutton {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.any-link {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 4px;
}

@keyframes fa-spin-right {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes fa-spin-left {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-359deg);
  }
}
.any-field.block label {
  display: block !important;
}

.any-fluid any-input-number,
.any-fluid .any-input-number,
.any-fluid .any-inputnumber {
  width: 100%;
}
.any-fluid any-input-number .any-element,
.any-fluid .any-input-number .any-element,
.any-fluid .any-inputnumber .any-element {
  width: 100%;
}
.any-fluid any-input-number any-input-text,
.any-fluid any-input-number .any-input-text,
.any-fluid any-input-number .any-inputnumber-buttons,
.any-fluid .any-input-number any-input-text,
.any-fluid .any-input-number .any-input-text,
.any-fluid .any-input-number .any-inputnumber-buttons,
.any-fluid .any-inputnumber any-input-text,
.any-fluid .any-inputnumber .any-input-text,
.any-fluid .any-inputnumber .any-inputnumber-buttons {
  width: 100%;
}

@media screen and (max-width: 960px) {
  app-docsection-nav {
    display: none !important;
  }
  .layout-wrapper .layout-news {
    margin-left: 0;
  }
  .layout-wrapper .layout-news .layout-news-button {
    display: none;
  }
  .layout-topbar {
    margin-left: 0;
    height: 110px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .layout-topbar .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layout-topbar .logo img {
    width: 150px;
  }
  .layout-topbar .app-theme {
    margin-left: 0;
    margin-right: 23px;
  }
  .layout-topbar .topbar-menu {
    width: 100%;
    height: 40px;
    margin: 0;
    border-top: 1px solid var(--surface-d);
  }
  .layout-topbar .topbar-menu > li {
    height: 40px;
    line-height: 40px;
    width: 25%;
  }
  .layout-topbar .topbar-menu > li > a {
    padding-bottom: 0;
    height: 40px;
    line-height: 38px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    min-width: auto;
  }
  .layout-topbar .topbar-menu > li.topbar-submenu > ul {
    top: 40px;
  }
  .layout-sidebar {
    transform: translateX(-100%);
    z-index: 1102;
  }
  .layout-sidebar.active {
    transform: translateX(0);
  }
  .layout-content {
    margin-left: 0;
  }
  .layout-content .layout-content-inner {
    padding: 2rem 1rem;
  }
  .layout-content .content-section.introduction {
    flex-direction: column;
  }
  .layout-content .content-section.introduction .app-inputstyleswitch {
    margin-top: 1.5rem;
    margin-left: 0;
  }
  .layout-content .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .layout-content .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .layout-mask.layout-mask-active {
    z-index: 1101;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s;
  }
  .home .introduction > div {
    width: 100%;
  }
  .home .features > div {
    width: 100%;
  }
  .home .whouses > div {
    width: 100%;
  }
  .home .prosupport > div {
    width: 100%;
  }
  .layout-config .layout-config-button {
    left: auto;
    right: -52px;
  }
  .layout-config.layout-config-active {
    width: 100%;
  }
  .blocked-scroll {
    overflow: hidden;
  }
  .layout-footer {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  app-docsection-nav {
    display: none !important;
  }
  .layout-wrapper.layout-news-active .topbar-menu > li.topbar-submenu > ul {
    top: 180px;
  }
  .layout-topbar .topbar-menu > li.topbar-submenu {
    position: static;
  }
  .layout-topbar .topbar-menu > li.topbar-submenu > ul {
    top: 110px;
    position: fixed;
    right: auto;
    left: 0;
    width: 100vw;
  }
}
.product-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: auto;
  flex-wrap: nowrap;
}
.product-item img {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}
.product-item .product-list-detail {
  flex: 1 1 0;
}
.product-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-item .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.product-item .product-category {
  vertical-align: middle;
  line-height: 1;
}
.product-item.loading-item .image-container {
  width: 100px;
  height: 66px;
  animation: pulse 1s infinite ease-in-out;
  margin-right: 1rem;
}
.product-item.loading-item .product-list-detail h5,
.product-item.loading-item .product-list-detail .product-category {
  width: 150px;
  height: 14px;
  display: block;
  animation: pulse 1s infinite ease-in-out;
}
.product-item.loading-item .product-list-action .product-badge {
  display: block;
  width: 100px;
  height: 14px;
  animation: pulse 1s infinite ease-in-out;
}
.product-item.loading-item .product-list-action h6 {
  width: 25px;
  height: 14px;
  animation: pulse 1s infinite ease-in-out;
}

@media screen and (max-width: 960px) {
  .product-item h5 {
    font-size: 1rem;
  }
  .product-item img {
    width: 50px;
  }
  .product-item .product-category,
  .product-item .product-category-icon {
    display: none;
  }
}
.buttons-intro any-button::part(any-button) {
  margin-right: 0.5rem;
}

.any-buttonset {
  justify-content: space-between;
  display: inline-flex;
}
.any-buttonset any-button::part(any-button) {
  margin: 0;
  margin-right: 0;
}
.any-buttonset any-button::part(any-button):focus {
  position: relative;
  z-index: 1;
}
.any-buttonset any-button:not(:last-child)::part(any-button) {
  border-right: 0 none;
}
.any-buttonset any-button:not(:first-of-type):not(:last-of-type)::part(any-button) {
  border-radius: 0;
}
.any-buttonset any-button:first-of-type::part(any-button) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.any-buttonset any-button:last-of-type::part(any-button) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 960px) {
  .buttons-intro any-button::part(any-button) {
    margin-bottom: 0.5rem;
  }
  .responsive any-button {
    width: 100%;
  }
  .responsive any-button::part(any-button) {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .responsive any-button::part(any-button) .any-button-content {
    flex: 1 1 auto;
  }
  .responsive:not(.any-button-icon-only)::part(any-button) {
    display: flex;
    width: 100%;
  }
  .responsive .any-buttonset {
    display: block;
  }
  .responsive .any-buttonset any-button::part(any-button) {
    margin-bottom: 0;
  }
  .responsive .any-buttonset any-button:not(:first-of-type):not(:last-of-type)::part(any-button) {
    border-radius: 0;
  }
  .responsive .any-buttonset any-button:first-of-type::part(any-button) {
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .responsive .any-buttonset any-button:last-of-type::part(any-button) {
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
.card-container .full-card {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  user-select: none;
  padding: 0;
}
.card-container .full-card.primary-box {
  background-color: var(--primary-color);
  padding: 0;
  color: var(--primary-color-text);
}
.card-container .full-card.styled-box-green ::part(any-ink) {
  background: rgba(75, 175, 80, 0.3);
}
.card-container .full-card.styled-box-orange ::part(any-ink) {
  background: rgba(255, 193, 6, 0.3);
}
.card-container .full-card.styled-box-purple ::part(any-ink) {
  background: rgba(156, 39, 176, 0.3);
}
.card-container .full-card:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=app.css.map */
